# Include README and requirements
include README.md
include requirements.txt
include constraints.txt

# Include all YAML configs
recursive-include whisperx_nemo_pipeline/nemo_msdd_configs *.yaml

# Include C++ extension source and header files
recursive-include whisperx_nemo_pipeline/vendor/ctc-forced-aligner/ctc_forced_aligner *.cpp *.h